#main {
  margin-top: 60px;
  display: flex;
  min-height: 100vh;
  border-top: 1px solid #333;

  #asdie {
    width: 300px;
    background-color: #000;
    color: #fff;
    border-right: 1px solid #333;
    padding: 20px;

    button {
      display: block;
      font-size: 16px;
      margin-bottom: 10px;
      cursor: pointer;
      width: 100%;
      text-align: left;
      padding: 10px 20px;
      border-radius: 40px;
      color: #fff;

      span:first-child {
        display: inline-block;
        margin-right: 10px;
        vertical-align: -2px;
      }
      &:hover {
        background: rgb(164, 33, 33);
      }
    }
  }
  #contents {
    width: calc(100% - 300px);
    background-color: #000;
    padding: 24px;
    color: #fff;

    h2 {
      margin-bottom: 10px;
    }
  }
}

@media (max-width: 800px) {
  #main {
    margin-top: 108px;
  }
}

// videos__inner
.videos__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  > div {
    width: 24%;
    margin-bottom: 1%;
    background-color: #1a1a1a;
    padding: 10px;

    h3 {
      padding-top: 10px;
      line-height: 1.6;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      font-size: 16px;
    }
  }
}

@media (max-width: 1300px) {
  .videos__inner {
    > div {
      width: 32.666%;
    }
  }
}
@media (max-width: 1024px) {
  .videos__inner {
    > div {
      width: 49%;
      margin-bottom: 2%;
    }
  }
}

@media (max-width: 960px) {
  #main {
    flex-direction: column;

    #asdie {
      width: 100%;
      border-right: 0;
      border-bottom: 1px solid #1a1a1a;

      button {
        display: inline-block;
        width: auto;
        padding: 3px;
        border-radius: 5px;
        margin: 5px;
        font-size: 14px;
      }
    }
    #contents {
      width: 100%;
    }
  }
}

@media (max-width: 600px) {
  .videos__inner {
    > div {
      width: 100%;
      margin-bottom: 4%;
    }
  }
}
